.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;
}

label {
  margin-bottom: 4px;
}

select {
  text-align: center;
}

.moodFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.moodFilter > fieldset {
  border: none;
}

.entryLog {
  padding: 20px;
}