body {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  }

.fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
}

label {
  text-align: center;
}

.moodFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .fieldset--moodFilter {
  display: flex;
  flex-direction: row;
} */