h1, h2, h3, h4 {
  text-align: center;
}

.entryLog h3 {
  text-align: left;
}

fieldset {
  border: none;
}

.flexBtn {
  display: flex;
  justify-content: center;
  padding-top: 1%;
}

.radio-container {
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
}

.radio-btn {
  flex-basis: 1;
}

.entry-label {
  font-weight: 500;
  font-size: 1.5em;
}